/* OTF 폰트 등록 */
@font-face {
    font-family: 'BMElijirooraeorae';
    src: url('../fonts/BMElijirooraeoraeOTF.otf') format('opentype'); /* OTF 파일 경로 */
    font-weight: normal;
    font-style: normal;
}

/* 모든 페이지 폰트 적용 */
body {
    font-family: 'BMElijirooraeorae', Arial, sans-serif; /* OTF 폰트 우선 적용 */
    margin: 0;
    padding: 0;
    color: #333; /* 기본 텍스트 색상 */
}

h1, h2, h3, p, button, li, a {
    font-family: 'BMElijirooraeorae', Arial, sans-serif; /* 모든 요소에 폰트 적용 */
}
