<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>타자 연습 게임</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>타자 연습 게임</h1>
        <form method="POST">
            <button type="submit" name="start_game">게임 시작</button>
        </form>
    </div>
</body>
    <script>
        // 브라우저 뒤로 가기 방지
        history.pushState(null, null, location.href);
        window.onpopstate = function () {
            history.go(1);  // 현재 페이지 유지
        };
    </script>
</html>
